* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem Arial, Helvetica, sans-serif;

  background: hsl(210, 90%, 90%);
  color: hsl(240, 5%, 7%);

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #888;

  &:hover {
    background: #555;
  }
}
