* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem Arial, Helvetica, sans-serif;
  //background: #333;
  color: #121214;

  /* display: flex;
  flex-direction: column;
  align-items: center; */

  height: 100vh;
}
/*
.repository-list {
  margin: 2rem 1rem;
}

li {
  list-style: none;
  margin-top: 1rem;
} */
