header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0.5rem 0;
  margin-bottom: 2rem;

  position: sticky;
  top: 0;

  background: hsla(0, 0, 100%, 1);
  border-bottom: 1px solid #222222;
  box-shadow: 0px 6px 10px rgba(34, 34, 34, 0.12);

  line-height: 19px;
  z-index: 999;
}

section.repository-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem;
  padding: 0 2rem;
  max-width: 1024px;
}

h1 {
  font-size: 21.333px;
  margin-bottom: 1rem;
}

ul {
  list-style: none;

  li {
    padding: 1rem 1.25rem;
    border: 1px solid hsl(0, 0%, 15%);
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 4px 8px rgba(34, 34, 34, 0.15);

    border-radius: 8px;

    transition: ease-in-out 0.125s;

    &:hover {
      transform: translateY(-4px);
    }

    & + li {
      margin-top: 1rem;
    }

    p {
      font-size: 1rem;
      margin-top: 0.25rem;
      line-height: 150%;
    }

    a {
      display: inline-block;
      margin-top: 0.25rem;
      text-decoration: none;
      color: #0a2cd9;
    }
  }
}
