section.repository-list {
  padding: 2rem 1rem;
  background: hsl(210, 90%, 95%);
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

ul {
  list-style: none;

  li {
    padding: 1rem 1.25rem;
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 8px;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 2px 4px hsla(0, 0%, 27%, 0.3);

    transition: ease-in-out 0.125s;

    &:hover {
      transform: translateY(-4px);
    }

    & + li {
      margin-top: 1rem;
    }

    p {
      font-size: 1rem;
      color: hsl(0, 0%, 15%);
      margin-top: 0.25rem;
      line-height: 150%;
    }

    a {
      display: inline-block;
      margin-top: 0.5rem;
      text-decoration: none;
      color: hsl(260, 75%, 65%);
    }
  }
}

@media (max-width: 720px) {
  section.repository-list {
    padding: 1rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  ul {
    li {
      a {
        width: 100%;
      }
    }
  }
}
